/* background.css */
/* CSS that styles various two-dimensional shapes */

.root {
     -fx-background-image: url("../images/background.jpeg");
}

#buttonDouble {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#buttonDouble:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#buttonExit {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#buttonExit:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#buttonSingle {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#buttonSingle:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "Silom";
    -fx-font-weight: bold;
}

#queButton{
    -fx-background-image: url("../images/question.jpg");
    border-style:none;
      
}

